<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name></display-name>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.ems.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>XxwhServlet</servlet-name>
    <servlet-class>com.ems.servlet.XxwhServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>JwglServlet</servlet-name>
    <servlet-class>com.ems.servlet.JwglServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TeacherServlet</servlet-name>
    <servlet-class>com.ems.servlet.TeacherServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>com.ems.servlet.StudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/Login.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>XxwhServlet</servlet-name>
    <url-pattern>/Xxwh.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JwglServlet</servlet-name>
    <url-pattern>/Jwgl.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherServlet</servlet-name>
    <url-pattern>/Teacher.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/Student.do</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>List.jsp</welcome-file>
  </welcome-file-list>
</web-app>